.apresentacao > div {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
}

@media(max-width: 700px) {
    
    .apresentacao  h1 {
        font-size: 3rem;
    }
    
    .apresentacao p {
        font-size: 1.2rem;
    }
    
}