.container-sobre {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem 0;
    background-color: var(--bg-container);
}

.sobre-nos {
    justify-self: center;
    max-width: 800px;
    display: grid;
}

.slide {
    padding: 3rem;
}

.sobre-nos-informacoes {
    display: flex;
    flex-flow: column;
    padding: 2rem 0;
    background-color: var(--bg-card);
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(200, 200, 200, .35);
}

.foto-perfil-profissional {
    margin-bottom: 1.5rem;
    align-self: center;
}

.descricao-profissional {
    line-height: 1.90;
    padding: 2rem;
}

.foto-perfil-profissional img,
.profissao,
.nome-profissional {
    padding: 0 2rem;
}

@media(max-width:700px) {

    .foto-perfil-profissional img {
        max-width: 300px;
        height: 300px;
    }

    .container-sobre > h1 {
        font-size: 3rem;
    }

    .container-sobre .profissao {
        font-size: 1rem;
    }

    .container-sobre .nome-profissional {
        font-size: 1.5rem;
    }
    
}