.container-sobre {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--bg-container);
}

.container-sobre > h1 {
    padding: .5rem 0;
}

.sobre-nos {
    justify-self: center;
    max-width: 800px;
    display: grid;
}

.slide {
    padding: 3rem;
}

.sobre-nos-informacoes {
    display: flex;
    flex-flow: column;
    padding: 2rem 0;
    background-color: var(--bg-card);
    border-radius: 8px;
    box-shadow: 0 0 16px 8px rgba(200, 200, 200, .25);
}

.foto-perfil-profissional {
    margin-bottom: 1.5rem;
    align-self: center;
}

.descricao-profissional {
    line-height: 1.90;
    padding: 2rem;
}

.foto-perfil-profissional img,
.profissao,
.nome-profissional {
    padding: 0 2rem;
}

@media(max-width:700px) {

    .foto-perfil-profissional img {
        max-width: 300px;
        height: 300px;
    }

    .container-sobre > h1 {
        font-size: 3rem;
    }

    .container-sobre .profissao {
        font-size: 1rem;
    }

    .container-sobre .nome-profissional {
        font-size: 1.5rem;
    }
    
}

@media(max-width:500px) {

    .sobre-nos-informacoes {
        align-items: center;
    }
    
    .foto-perfil-profissional img {
        width: 200px;
        height: 150px;
    }

    .profissao {
        text-align: center;
    }
}


button.splide__arrow.splide__arrow--prev {
    background-color: rgba(204, 204, 204, 0.308);
    position: absolute;
    left: 0;
    transition: background-color .6s;
}

button.splide__arrow.splide__arrow--prev:hover {
    background-color: #fff;
}

button.splide__arrow.splide__arrow--next {
    background-color: rgba(204, 204, 204, 0.308);
    position: absolute;
    right: 0;
    transition: background-color .6s;
}

button.splide__arrow.splide__arrow--next:hover {
    background-color: #fff;
}